<% include ./partials/header %> 

<section class="pgcontent">
<div class="about-section">
  <h1>About Us Page</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">

  <div class="column">
    <div class="card">
      <img src="/img/soma.jpg" alt="Soma" style="width:100%">
      <div class="aboutusbox">
        <h2>Soma Sunder Gutala</h2>
        <p class="title">Web Developer</p>     
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/abhinay.jpg" alt="Abhinay" style="width:100%">
      <div class="aboutusbox">
        <h2>Abhinay Asi</h2>
        <p class="title">Web Developer</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/img/bhavishya.jpg" alt="Bhavishya" style="width:100%">
      <div class="aboutusbox">
        <h2>Bhavishya</h2>
        <p class="title">Project Manager</p>        
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/img/surya.jpg" alt="Surya" style="width:100%">
      <div class="aboutusbox">
        <h2>Surya</h2>
        <p class="title">Database Administrator</p>       
      </div>
    </div>
  </div>
  
</div>


</section>


<% include ./partials/footer %>